### GRAUP ###

# O gitignore é um arquivo que diz ao Git quais arquivos ou diretórios devem ser ignorados durante o processo de versionamento (commit) de um projeto.

# ARQUIVOS
*.exe
*.mp4
*.avi
*.mkv
*.bmp

# PASTAS
.nomedapasta/
